<html>
<head>
    <title>Tamagotchi</title>
</head>
<body>
    <h1><strong>My Tamagotchis</strong></h1>
    {% if pets is not empty %}
        <h2>Here is a list of all your pets:</h2>
            {% for pet in pets %}

            <h3>{{ pet.getName }}</h3>
            <ul>
                <li>Nourishment Level: {{ pet.getFood }}<form action='feeding' method='post'>
                    <button name='food' type='submit'>feed</button>
                </form></li>
                <li>Mood: {{ pet.getMood }}<form action='feelings' method='post'>
                    <button type='submit'>play</button>
                </form></li>
            </ul>
            {% endfor %}
    {% endif %}

    <form action='/pets' method='post'>
        <label for='name'>Name</label>
        <input id='name' name='name' type='text'>
        <button type='submit'>New Tamagotchi!</button>
    </form>
    <form action='delete_pets' method='post'>
        <button type='submit'>clear list</button>
    </form>
    </div>
</body>
</html>
